@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #F5F5F5;
	color: #667277;
	font-family: 'Alegreya', sans-serif;
	margin: 0;
}


#icontxt{
    font-family: 'Alegreya Sans', sans-serif;
	float: left;
	color: #F5F5F5;
	padding: 20px;	
}

h2 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 3%;
	color: #2f3338;
}

h3 {
    font-family: 'Alegreya Sans', sans-serif;
	font-size: 175%;
	line-height: 155%;
	padding: 5% 0;
	font-weight: 400;
	color: #2f3338;
}

.about p {
	font-family: 'Alegreya Sans', sans-serif;
	color: #2f3338;
	font-size: 170%;
	line-height: 100%;
	padding: 2%;
	text-indent: 5%;
	text-align: justify;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.size {
	height: 100%;
	width: 100%;
}

#logo{
	float: left;
	height: 60px;
	width: 60px;
	padding: 1%;
}

header {
	background-color: #6991AC;
	width: 100%;
	height: 86px;
}

#header-inner {
	max-width: 1200px;
	margin: 0 auto;
}

/*---Nav Start---*/

nav {
	float: right;
	padding: 25px 20px 0 0;
}


ul {
	list-style-type: none;
}

nav ul li {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 170%;
    font-weight: 600;
	display: inline-block;
	float: left;
	padding: 10px;
}

nav ul li a {
	color: #F5F5F5;
	text-decoration: none;
}

nav ul li a:hover {
	color: #C3D7DF;
    
}
.current {
	color: #C3D7DF;
}
/*end of nav*/

.banner {
	width: 100%;
	background-color: #6991AC;
}

.banner-inner {
	max-width: 1100px;
	margin: 0 auto;
}

.inner-wrapper {
	float: left;
	width: 100%;
	background-color: #C3D7DF;
}

article {
	float: left;
	margin: 0 auto;
	width: 50%;
	height: 485px;
}

.pane {
	background-color: #C3D7DF;
}

aside {
	float: right;
	margin: 0 auto;
	width: 50%;
	height: 485px;
}

.pane2 {
	background-color: #6991AC;
}

.inner-wrapper-2{
	float: left;
	width: 100%;
	background-color: #AADCD2; 
}

.onewhole {
	width: 100%;
	float: left;
	text-align: center;
}

.onewhole img{
    height: 600px;
    width: auto;
    padding: 2%;
}

.about {
	background-color: #A2B1C1;
}
/* end of about*/

footer {
	background-color: #6991AC;
	width: 100%;
    height: auto;
}

.social {
	list-style-type: none;
	text-align: center;
}
.social li {
	display: inline;
}
.social i {
	font-size: 460%;
	margin: 1%;
	padding: 5% 5% 5% 4%;
	color: #C3D7DF;
}

.social i:hover{
	color: #F5F5F5;
}

footer p{
  font-family: 'Alegreya Sans', sans-serif;  
}
footer.second{
	border-top: 5px solid #AADCD2;
	background-color: #B0E0E6;
	max-height: 55px;
	text-align: center;
	margin: 0;
}

footer.second p {
	padding: 5px 0 9px 0;
	text-align: center;
}

.paneBody p {
    font-family: 'Alegreya Sans', sans-serif;
	color: #2f3338;
	font-size: 150%;
	line-height: 100%;
	padding: 2%;
	text-align: justify;
}

.paneBody h2 {;
	font-size: 250%;
	font-weight: 600;
	text-align: center;
	padding: 10% 10% 5% 10%;
	color: #2f3338;  
}

#shadow {
    box-shadow: 10px 10px 15px 0px #888888;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 95%;
}